<!DOCTYPE html>
<html lang="en" ng-app="pubsub">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>PubSub</title>

		<base href="/"/>

		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	</head>
	<body>
	    <nav class="navbar navbar-default navbar-static-top" style="background-color:#34495e;">
			<div class="container">
				<a class="navbar-brand" href="#" style="color:#fff;">PubSub</a>
				<div class="navbar-right" ng-if="username">
					<p class="navbar-text " style="color:#fff;">Signed in as {{username}}</p>
					<a href="#/logout" class="btn btn-default navbar-btn">Logout</a>
				</div>				
			</div>
	    </nav>

	    <div class="container" ng-view></div>

	    <script type="text/javascript" src="/assets/js/jquery-1.12.0.min.js"></script>
	    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="/assets/js/angular.min.js"></script>
	    <script type="text/javascript" src="/assets/js/angular-route.min.js"></script>
	    <script type="text/javascript" src="/assets/js/angular-notification.min.js"></script>
	    <script type="text/javascript" src="/assets/js/app/main.js"></script>
	    <script type="text/javascript" src="/assets/js/app/services.js"></script>
	    <script type="text/javascript" src="/assets/js/app/directives.js"></script>
	    <script type="text/javascript" src="/assets/js/app/controllers.js"></script>
	    
	</body>
</html>
