<div class="col-md-6">
	<div class="row">
		<div ng-if="msg" class="alert alert-info" role="alert">
		  	{{msg}}
		</div>
	</div>
	<div class="row">
		<h2>Welcome, {{username}}</h2>
		<br/>
		<form class="form-inline">
		  	<div class="form-group">
		    	<label for="new_username">Change Username</label>
		    	<input type="text" class="form-control" ng-model="new_username" placeholder="Enter new username" ng-trim="true">
		  	</div>
		 	<button type="submit" class="btn btn-primary" ng-click="updateUsername()">Submit</button>
		</form>
		<br/>
	</div>
	<div class="row" ng-if="role == 'pub'">
		<form class="form-inline">
		  	<div class="form-group">
		    	<label for="new_channel_inp">Create New Channel</label>
		    	<input type="text" class="form-control" ng-model="new_channel.name" placeholder="Enter channel name" ng-trim="true">
		  	</div>
		 	<button type="submit" class="btn btn-primary" ng-click="createChannel()">Submit</button>
		</form>
		<br/>
		<form>
			<h4>Publish New Article</h4>
		  	<div class="form-group">
		    	<input type="text" class="form-control" ng-model="new_article.title" placeholder="Title" ng-trim="true">
		  	</div>
		  	<div class="form-group">
		    	<textarea class="form-control" rows="3" ng-model="new_article.content" placeholder="Content" ng-trim="true"></textarea>
		  	</div>
		  	<div class="form-group">
		  		<div class="row">
		  			<div class="col-md-3 control-label">Select channel</div>
		  			<div class="col-md-9">
		  				<select class="form-control" ng-model="new_article.channel" ng-init="new_article.channel" required>
		  					<option ng-repeat="channel in channels" value="{{channel.id}}" ng-if="channel.is_pub">{{channel.name}}</option>
		  				</select>
		  			</div>
		  		</div>		  				    	
		  	</div>
		  	<button type="submit" class="btn btn-success" ng-click="submitArticle()">Publish</button>
		</form>
	</div>
	<div class="row">
		<h3>Channels List</h3>
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">S.No.</th>
					<th class="text-center">Channel Name</th>
					<th class="text-center">Publisher</th>
					<th class="text-center">Subscribe</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="channel in channels">
					<td>{{$index + 1}}</td>
					<td>{{channel.name}} <span class="label label-default" style="margin-left:5px;" ng-if="channel.is_new">New</span></td>
					<td>{{channel.publisher}}</td>
					<td>
						<button type="button" class="btn btn-default" ng-if="!channel.is_sub && !channel.is_pub" ng-click="subscribeCh(channel.id)">Subscribe</button>
						<button type="button" class="btn btn-default" ng-if="channel.is_sub && !channel.is_pub" ng-click="unsubscribeCh(channel.id)">Unsubscribe</button>
						<button type="button" class="btn btn-default disabled" ng-if="channel.is_pub">Publisher</button>
					</td>
				</tr>
			</tbody>			
		</table>
	</div>
</div>
<div class="col-md-6">
	<h2>Articles</h2>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  	<div class="panel panel-default" ng-repeat="article in articles">
	    	<div class="panel-heading" role="tab" id="aritcle_heading_{{$index}}" data-toggle="collapse" data-parent="#accordion" ng-href="{{curr_path}}#aritcle_{{$index}}" aria-expanded="true" aria-controls="aritcle_{{$index}}" style="cursor:pointer;">
	      		<h4 class="panel-title">
          			<strong>{{article.title}} </strong>
	        		<span class="label label-primary" style="margin-left:5px;" ng-if="article.is_new && !article.is_bnew">New</span>
	        		<span class="label label-success" style="margin-left:5px;" ng-if="article.is_bnew">New</span>
	        		<p class="pull-right">
	        			[ {{article.channel_name}} ]
	        		</p>
	      		</h4>
	    	</div>
	    	<div id="aritcle_{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aritcle_heading_{{$index}}">
	      		<div class="panel-body" style="padding-bottom:0px;">
	        		<div class="row-fluid">
	        			<blockquote>
	        				{{article.content}}
	        			</blockquote>	
	        		</div>
	        		<div class="row-fluid small">
	        			<p class="pull-left">Publisher : {{article.publisher}}</p>
	        			<p class="pull-right">Published on : {{article.created_on}}</p>
	        		</div>
	      		</div>
	    	</div>
	  	</div>
	</div>
</div>