<div class="row">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation"><a href="#login_form" aria-controls="login_form" role="tab" data-toggle="tab">Login</a></li>
		<li role="presentation"><a href="#signup_form" aria-controls="signup_form" role="tab" data-toggle="tab">Signup</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="login_form">
			<form class="col-md-4">
				<br>
			  	<div class="form-group">
			    	<label for="login_uname">Username</label>
			    	<input type="text" class="form-control" id="login_uname" ng-model="login_uname" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="login_pass">Password</label>
			    	<input type="password" class="form-control" id="login_pass" ng-model="login_pass" placeholder="">
			  	</div>
			  	<button type="submit" class="btn btn-primary" ng-click="submitLogin()">Login</button>
			</form>
		</div>
		<div role="tabpanel" class="tab-pane" id="signup_form">
			<form class="col-md-4">
				<br>
			  	<div class="form-group">
			    	<label for="signup_uname">Username</label>
			    	<input type="text" class="form-control" id="signup_uname" ng-model="signup_uname" placeholder="">
			  	</div>
			  	<div class="form-group">
			    	<label for="signup_pass">Password</label>
			    	<input type="password" class="form-control" id="signup_pass" ng-model="signup_pass" placeholder="">
			  	</div>
			  	<div class="checkbox">
			    	<label>
			     		<input type="checkbox" ng-model="signup_ispub"> Signup as Publisher
			    	</label>
			  	</div>
			  	<button type="submit" class="btn btn-default" ng-click="submitSignup()">Signup</button>
			</form>
		</div>
	</div>
</div>
<div class="row-fluid">
	<br>
	<p class="text-primary">{{msg}}</p>
</div>